.main {
  width: 100vw;
  height: 100vh;
  padding: 80px;  
}

.todoContainer {
  width: 100%;
  height: 100%;
  min-width: 250px;
  min-height: 400px;

  border: 1px solid #1a5e09d8;
  border-radius: 5px;
  padding: 50px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: start;
  align-items: center;

  background-color: #1a5e0941;
}

/* Стили для отображения изображения с анимацией*/
.picture canvas {
  max-width: 400px;
  min-width: 200px;
  width: 100%;
}

/* Стили для отображения todo задания */
.todo {
  width: 100%;
  max-width: 400px;
  padding: 20px;

  border: 1px solid #1a5e09d8;
  border-radius: 5px;

  hyphens: auto;
  background-color: rgba(255, 255, 255, 0.24);
  text-align: center;
}

/* Стили для отображения ошибки при запросе данных с сервера*/
.fetchError {
  color: red;
  text-align: center;
}

